/* Genel sayfa stili */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: bisque
    
}

.container {
    max-width: 800px;
    margin: auto;
    background: bisque;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid bisque;
    padding-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque
}

.header {
    background-color: bisque;
    color: #000000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}



.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: inline-block;
    margin-right: 20px; /* Menü öğeleri arası boşluk */
}

.menu-item a {
    text-decoration: none;
    color: #333; /* Menü link rengi */
    font-size: 16px; /* Menü yazı boyutu */
    padding: 10px 15px; /* Menü öğe içi boşluk */
    display: block;
}

.menu-item a:hover {
    color: #c0392b; /* Hover durumu link rengi */
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff; /* Dropdown arka plan rengi */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Gölge efekti */
    z-index: 1;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    text-align: left;
    padding: 10px;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: #333; /* Dropdown link rengi */
    display: block;
}

.dropdown-menu ul li a:hover {
    background-color: #f9f9f9; /* Hover arka plan rengi */
}

.dropdown:hover .dropdown-menu {
    display: block;
}
